{{define "title"}}About{{end}}

{{define "main"}}
    <h2>About</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tempor mi a augue malesuada sollicitudin. Aliquam elementum, justo ac mattis pretium, massa odio cursus mi, id malesuada leo libero ac lectus. Phasellus mauris libero, porta at cursus at, suscipit sit amet quam. Cras consequat diam id neque hendrerit, ut dapibus nibh placerat. Aliquam at maximus elit, id consequat metus. Nunc in lacus laoreet, tempor ex in, commodo augue. Fusce justo nulla, vehicula at lectus vel, rhoncus aliquam arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur ac sapien quis nunc accumsan consequat vel ac tortor.
    </p>
{{end}}

